server:
  port: 8083
spring:
  application:
    name: transactions
  datasource:
    url: jdbc:mysql://mysql-transactions:3306/transactions_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

reloadly:
  client-id: l0RbvHw6nVRc0LgvWNJvqYgHYUL5ddF3
  client-secret: Hy1CcWJIrO-iJD9KamCxLpWGrWUtOi-VoQVrMHlVLo8TQDPXjbPbi0d3S2n0IY0