server:
  port: 8081

spring:
  application:
    name: users
  datasource:
    url: jdbc:mysql://mysql-users:3306/users_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
