server:
  port: 8082
spring:
  application:
    name: products
  datasource:
    url: jdbc:mysql://mysql-products:3306/products_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
